
@keyframes brightness {
  0%, 50%, 100% {
    filter: blur(0px) brightness(120%) drop-shadow(0 0 2.5px rgba(255, 255, 255, 0.1)) drop-shadow(0 0 5px rgba(255, 255, 255, 0.075)) drop-shadow(0 0 7.5px rgba(255, 255, 255, 0.045)) drop-shadow(0 0 10px rgba(255, 255, 255, 0.025));
  }
  25%, 75% {
    filter: blur(1px) brightness(50%) drop-shadow(0 0 2.5px rgba(255, 255, 255, 0.1)) drop-shadow(0 0 5px rgba(255, 255, 255, 0.075)) drop-shadow(0 0 7.5px rgba(255, 255, 255, 0.045)) drop-shadow(0 0 10px rgba(255, 255, 255, 0.025));
  }
}
@keyframes spin {
  0% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
.spinningasset {
  text-align: left;
  transition: all 0.4s ease-out;
  cursor: pointer;
  animation: brightness 2.5s infinite linear;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}
.spinningasset::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 8px;
  width: 11px;
  margin: auto;
  background-size: 100px 400%;
  background-position: center;
}
.spinningasset > div {
  position: relative;
  z-index: 2;
  perspective: 10000px;
  transform-style: preserve-3d;
  transform-origin: center;
  animation: spin 2.5s infinite linear;
}
.spinningasset > div > * {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: inherit;
  background-size: cover;
}
.spinningasset > div > div:first-child {
  transform: translateZ(-6px);
}
.spinningasset > div > div:last-child {
  transform: translateZ(6px);
  background-image: url(Coins_side_front.svg);
}
.spinningasset > div em {
  filter: blur(0.5px);
}
.spinningasset > div em:first-of-type {
  transform: translateZ(0px) rotateY(-6deg);
}
.spinningasset > div em:last-of-type {
  transform: translateZ(0px) rotateY(6deg);
}
.spinningasset > div i {
  filter: blur(0.5px);
}
.spinningasset > div i:nth-of-type(1) {
  transform: translateZ(-5px);
}
.spinningasset > div i:nth-of-type(2) {
  transform: translateZ(-4px);
}
.spinningasset > div i:nth-of-type(3) {
  transform: translateZ(-3px);
}
.spinningasset > div i:nth-of-type(4) {
  transform: translateZ(-2px);
}
.spinningasset > div i:nth-of-type(5) {
  transform: translateZ(-1px);
}
.spinningasset > div i:nth-of-type(6) {
  transform: translateZ(0px);
}
.spinningasset > div i:nth-of-type(7) {
  transform: translateZ(1px);
}
.spinningasset > div i:nth-of-type(8) {
  transform: translateZ(2px);
}
.spinningasset > div i:nth-of-type(9) {
  transform: translateZ(3px);
}
.spinningasset > div i:nth-of-type(10) {
  transform: translateZ(4px);
}
.spinningasset > div i:nth-of-type(11) {
  transform: translateZ(5px);
}
.spinningasset.is-sm {
  width: 24px;
  height: 24px;
  transform: scale(0.15);
  transform-origin: left top;
  filter: none;
}
.spinningasset.coin > div {
  width: 100px;
  height: 100px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
          cursor: default;
}
.spinningasset.coin > div > div:first-child {
  background-image: url(Coins_side_back.svg);
}
.spinningasset.coin > div > div:last-child, .spinningasset.coin > div::after,
.spinningasset.coin > div i,
.spinningasset.coin > div em {
  background-image: url(Coins_side_front.svg);
}